<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_png/effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,109}}</string>
                <key>sourceSize</key>
                <string>{202,109}</string>
            </dict>
            <key>girl_png/effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{83,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,194}}</string>
                <key>sourceSize</key>
                <string>{83,194}</string>
            </dict>
            <key>girl_png/effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{69,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,122}}</string>
                <key>sourceSize</key>
                <string>{69,122}</string>
            </dict>
            <key>girl_png/girl_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,87},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>girl_png/girl_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,87},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>girl_png/girl_arms.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,73},{41,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,195}}</string>
                <key>sourceSize</key>
                <string>{41,195}</string>
            </dict>
            <key>girl_png/girl_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>girl_png/girl_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>girl_png/girl_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,60},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>girl_png/girl_hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,86},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>girl_png/girl_hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,45},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>girl_png/girl_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>girl_png/girl_leg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,60},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>girl_png/girl_leg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl0.png</string>
            <key>size</key>
            <string>{747,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce037ff8977a99859a6c3a98ac580ef$</string>
            <key>textureFileName</key>
            <string>girl0.png</string>
        </dict>
    </dict>
</plist>
