<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>snow.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{124,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,122}}</string>
        <key>sourceSize</key>
        <string>{124,122}</string>
      </dict>
      <key>xuehua2.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,43},{50,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,57}}</string>
        <key>sourceSize</key>
        <string>{50,57}</string>
      </dict>
      <key>star2.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,0},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>Arrowroad.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{550,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{550,41}}</string>
        <key>sourceSize</key>
        <string>{550,41}</string>
      </dict>
      <key>body-jian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,43},{111,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,8}}</string>
        <key>sourceSize</key>
        <string>{111,8}</string>
      </dict>
      <key>body-yanjingtexiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{46,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,38}}</string>
        <key>sourceSize</key>
        <string>{46,38}</string>
      </dict>
      <key>body-toushi.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,43},{55,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,54}}</string>
        <key>sourceSize</key>
        <string>{55,54}</string>
      </dict>
      <key>body-maozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,43},{51,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,48}}</string>
        <key>sourceSize</key>
        <string>{51,48}</string>
      </dict>
      <key>body-maozijian.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,43},{66,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,29}}</string>
        <key>sourceSize</key>
        <string>{66,29}</string>
      </dict>
      <key>body-yanjing.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,69},{40,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,32}}</string>
        <key>sourceSize</key>
        <string>{40,32}</string>
      </dict>
      <key>body-zuotoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,0},{52,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,67}}</string>
        <key>sourceSize</key>
        <string>{52,67}</string>
      </dict>
      <key>body-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,43},{51,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,56}}</string>
        <key>sourceSize</key>
        <string>{51,56}</string>
      </dict>
      <key>body-zuoxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,75},{19,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,26}}</string>
        <key>sourceSize</key>
        <string>{19,26}</string>
      </dict>
      <key>body-zuoshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,81},{24,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,27}}</string>
        <key>sourceSize</key>
        <string>{24,27}</string>
      </dict>
      <key>body-zuonai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{17,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,16}}</string>
        <key>sourceSize</key>
        <string>{17,16}</string>
      </dict>
      <key>body-younai.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,78},{17,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,16}}</string>
        <key>sourceSize</key>
        <string>{17,16}</string>
      </dict>
      <key>body-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,43},{35,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,59}}</string>
        <key>sourceSize</key>
        <string>{35,59}</string>
      </dict>
      <key>body-maozidi.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,0},{79,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,79}}</string>
        <key>sourceSize</key>
        <string>{79,79}</string>
      </dict>
      <key>body-zuojianjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,53},{51,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,21}}</string>
        <key>sourceSize</key>
        <string>{51,21}</string>
      </dict>
      <key>body-xiongqiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,76},{30,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>body-fubu.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,78},{32,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,25}}</string>
        <key>sourceSize</key>
        <string>{32,25}</string>
      </dict>
      <key>body-youjianjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,76},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>body-zuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,43},{20,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,30}}</string>
        <key>sourceSize</key>
        <string>{20,30}</string>
      </dict>
      <key>body-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,74},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>body-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,81},{25,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,24}}</string>
        <key>sourceSize</key>
        <string>{25,24}</string>
      </dict>
      <key>body-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,74},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>body-youxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,78},{29,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,22}}</string>
        <key>sourceSize</key>
        <string>{29,22}</string>
      </dict>
      <key>body-youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,81},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>body-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,43},{45,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,69}}</string>
        <key>sourceSize</key>
        <string>{45,69}</string>
      </dict>
      <key>body-wuqi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,43},{47,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,70}}</string>
        <key>sourceSize</key>
        <string>{47,70}</string>
      </dict>
      <key>body-pifeng.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{82,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill.png</string>
      <key>textureFileName</key>
      <string>skill.png</string>
      <key>size</key>
      <string>{1024,128}</string>
    </dict>
  </dict>
</plist>